[host_1]
host=localhost
deployment_port=5000
directory=/tmp
username=[username]
password=[password]

[host_2]
host=localhost
deployment_port=5001
directory=/tmp
username=[username]
password=[password]
